<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<meta name="viewport" content="width=device-width" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></link>
<link rel="stylesheet" href="/styles/styles.css"></link>
<link rel="stylesheet" href="/styles/bookings.css"></link>
<link rel="stylesheet" href="/styles/register.css"></link>
<link rel="stylesheet" href="/styles/confirmation.css"></link>
<link rel="stylesheet" href="/styles/account.css"></link>
<script src="/scripts/index.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300" rel="stylesheet"></link>

{{> header title = "Astra | My Account"}}

    <body>
        {{> navbar}}
        {{> login}}

        {{> prompt}}
        <h1 class="title-header">My Account</h1>


        <div class="personal-details">
            <div class="subheader">Personal Details</div>
            <div class="account-details account-left"><strong>First name:</strong> {{first_name}}</div>
            <div class="account-details account-right"><strong>Last name:</strong> {{last_name}}</div>
            <div class="account-details account-left"><strong>Email:</strong> {{email}}</div>
            <div class="account-details account-right"><strong>Address:</strong> {{#if address}} {{address}} {{else}} No address specified {{/if}}</div>
        </div>

        {{#if purchased_tickets}}
            {{> tickets heading = "Previously purchased tickets" ticketData = purchased_tickets}}
        {{else}}
            <h1 class="Journey_Text">Previously purchased tickets</h1>
            <a href="/" class="account-link">Book your first flight today.</a>
        {{/if}}

    </body>
    {{> footer}}
</html>
